.container {
  background-color: var(--background-color-3);
  color: var(--color-texto-principal);
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: var(--fuente-principal);
}

.imageContainer {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-size: cover;
  margin-right: 0.4rem;
}

.publicationContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 0.2rem;
}

.top {
  display: flex;
  flex-direction: row;
}

.userInfo {
  display: flex;
  align-items: center;
  width: 95%;
  column-gap: 0.4rem;
}

.name {
  font-weight: bold;
}

.userName {
  color: var(--color-texto-secundario);
}

.date {
  color: var(--color-texto-secundario);
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: 0.9rem;
  white-space: pre-line;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
<<<<<<< HEAD

.hashtag {
  cursor: pointer;
  font-family: var(--fuente-principal);
  color: var(--color-acento-1);
}
=======
>>>>>>> 5dd213b29178a5a3f29d33df00dcc7e51fd9eddb
