.noReviews {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fuente-principal);
  font-size: 1.2rem;
  color: var(--color-texto-principal);
  background-color: #0c0c0c;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #0c0c0c;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
}
