.container {
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-family: var(--fuente-principal);
  color: var(--color-texto-secundario);
}
